Florian Kaufmann <sensorflo@gmail.com>
Juan Pedro Bolívar Puente <jbo@ableton.com>
Leandro López <inkel.ar@gmail.com> Leandro López (inkel)
Rüdiger Sonderfeld <ruediger@c-plusplus.net> <ruediger@c-plusplus.de>
