sk-old
*.dat
*~
abbrev_defs
loaddefs.el*
backups/*
auto-save-list
custom.el
*elc
places
url/cookies
thumbs/*
oddmuse/*
.newsrc-dribble
.nnmail-cache
/#.newsrc-dribble#
.svn
.DS_Store
image-dired/
elim/
session*
tramp
\#*
tmp/*
.smex-items
swank/*
