<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Emacs Live : M-x live-hack" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/doc-stylesheet.css">

    <title>Emacs Live Documentation -  {{page.title}}</title>
  </head>

  <body>

    <!-- HEADER -->
  <img class="abso" src="images/undo-tree.png"/>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">


{{ content }}

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Emacs Live maintained by <a href="http://twitter.com/samaaron">Sam Aaron</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
        <p>Source repo <a href="http://github.com/overtone/emacs-live">overtone/emacs-live</a></p>
        <img src="images/auto-complete.png" id="autodoc"/>
      </footer>
    </div>

  </body>
</html>
